.login-container {
    height: 100vh;

    .content {
        max-width: 580px;
        color: #ffffff;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
        font-size: 1.2em;
    }

    .login-img {
        width: 65%;
        text-align: center;
        margin: 0 auto;
    }

    .login-form-container {
        width: 75%;
        max-width: 450px;

        h2 {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 45px;
            text-align: center;
        }
    }
}