.re-tag {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    display: inline-block;
    height: auto;
    margin-inline-end: 8px;
    padding-inline: 7px;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    opacity: 1;
    transition: all 0.2s;
    text-align: start;
}

.re-tag-primary {
    background-color: rgb(45, 183, 245);
    border-color: transparent;
    color: #fff;
}

.re-tag-success {
    background-color: rgb(135, 208, 104);
    border-color: transparent;
    color: #fff;
}

.re-tag-danger {
    background-color: rgb(255, 85, 0);
    border-color: transparent;
    color: #fff;
}