.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #17253b;
    z-index: 999; // 增大显示层级，解决侧边栏收缩时header底部边框多余显示

    .system-title {
        height: 60px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    // 覆盖：去除边框
    .el-menu {
        border: none;
    }

    .custom-el-menu:not(.el-menu--collapse) {
        width: 200px;

        svg {
            width: 14px !important;
            height: 14px !important;
        }
    }

    .el-menu-item.is-active {
        // 增加el-menu-item选中背景色
        background-color: #409eff;
    }
}
