/** 清除浏览器默认间距 */
* {
  padding: 0;
  margin: 0;
}

/** 引入tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*卡片*/
.re-card {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}
